.btn {
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    /* align-items: center; */
}

.bulb-section {
    display: flex;
    justify-content: center;
}

.bulb-section img {

    height: 400px;

}